.transactionHistory {
  min-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(75, 75, 75);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.transactionHistory th,
.transactionHistory td {
  padding: 15px;
}

.head {
  background-color: coral;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.row {
  font-size: 14px;
  font-weight: 300;
  border-radius: 5px;
}

.row:nth-child(2n) {
  background-color: rgb(252, 164, 132);
  color: white;
}
